@font-face {
  font-family: "Friz";
  src: url(./assets/fonts/friz-quadrata-std-medium-5870338ec7ef8.otf);
}

@font-face {
  font-family: "Friz Bold";
  src: url(./assets/fonts/friz-quadrata-std-bold-587034a220f9f.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Friz", sans-serif;
}

nav {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.nav-mid-section .nav-link {
  padding: 0 48px;
  font-size: 24px;
  font-weight: 700;
}

.connect-wallet-btn {
  display: inline;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  cursor: pointer;
  -moz-box-pack: center;
  min-width: 160px;
  border: 0px none;
  outline: none;
  line-height: 1.71429;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      96.02deg,
      rgb(237, 130, 78) -12.08%,
      rgb(237, 42, 42) 137.69%
    )
    repeat scroll 0% 0%;

  color: white;
  border-radius: 4px;
  padding: 8px 16px;
}

.bg-video-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.video-overlay {
  position: absolute;
  top: 120px;
  left: 180px;
  width: 80%;
  z-index: 10;
}

.red-box {
  position: relative;
  width: 180px;
  height: 250px;
  background-color: transparent;
}

.red-box > .frame {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}

.popup-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 1000px;
  transition: all 1s ease-out;
}

.right-red-box-container {
  float: right;
}

/* #rb-1:hover + #popup-container {
  display: block;
} */
